extends layout

block content
 h2 Vehicle Info:

 h4 Model: #{model}  
 h4 Make: #{make}
 h4 Year: #{year}
 h4 Price: $#{price}
 <br>
 img(src='#{image}')
 <br>
 <br>
 a(href='/myItems') Back
 
block scripts
  script(src='./js/addItem.js')